name: Generate Prod Releases

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build_and_post:
    name: Build and Post JAR
    runs-on: ubuntu-latest

    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d_%H%M')"

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Build with Maven
        id: mvn_build
        run: |
          mvn clean package
          if [ ! -d staging ]; then
            mkdir staging
          fi
          cp target/fabledrealms-*.jar staging/
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          commit_message=$(git log --format=%B -n 1 $GITHUB_SHA)
          echo "git_hash=$git_hash" >> $GITHUB_ENV
          artifactPath=$(pwd)/target
          echo "artifactPath=$artifactPath" >> $GITHUB_ENV

          jar_file=$(find $artifactPath -name 'fabledrealms-*.jar' -print -quit)
          echo "::set-output name=jarfile::$jar_file"
          JAR_VERSION=$(echo "$jar_file" | sed -n 's/.*fabledrealms-\(.*\)\.jar/\1/p; s/-//g')
          echo "JAR_VERSION=$JAR_VERSION" >> $GITHUB_ENV

      - name: Deploy to GitHub Packages
        run:
          echo "Jar File Path ${{ steps.mvn_build.outputs.jarfile }}"
          mvn deploy:deploy-file -Durl=https://maven.pkg.github.com/FabledRealms/FabledRealmsCore \
                                     -DrepositoryId=github \
                                     -Dfile=${{ steps.mvn_build.outputs.jarfile }} \
                                     -DgroupId=net.fabledrealms \
                                     -DartifactId=fabledrealms \
                                     -Dversion=v-${{ steps.date.outputs.date }} \
                                     -Dpackaging=jar \
                                     -DgeneratePom=true \
                                     -DgeneratePom.description="My Project Description" \
                                     -DrepositoryLayout=legacy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
