name: Publish package to GitHub Packages

#on:
  #workflow_run:
    #workflows: [Generate Prod Releases]  # Adjust this to your actual workflow name
    #types:
      #- completed

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Publish package
        run: |
          echo "Deploying Maven package..."
          mvn --batch-mode -DuseGitHubPackages=true deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
